Checks: >
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  clang-analyzer-deadcode.*,
  clang-analyzer-core.*,
  clang-analyzer-security.*,

  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-braces-around-statements,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-security.insecureAPI.strcpy,
  -clang-analyzer-security.insecureAPI.bcopy,

WarningsAsErrors: ''

HeaderFilterRegex: '^(src|include|tests)/.*'

FormatStyle: file

CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase